# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Object code
*.obj

# Pre-built or 3rd party components
*.dll
*.exe

# VS files
*.manifest
*.dep
*.sln
*.suo
Buildlog.htm
*.idb
*.pdb
*.user
*.ncb
*.manifest.res

build/win/VC/Project2/Debug/*.*

*.cd

# All log files..
*.log